.counter {
    width: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;

    span {
        color: #5457B8;
        font-weight: 500;
    }

    button {
        color: #C9C8DD;
        font-size: 25px;
        background-color: rgba(255, 255, 255, 0);
    }
}