%itemCenter {
    display: flex;
    align-items: center;
}

.reply {
    // display: flex;
    width: 450px;
    margin-top: 20px;

    .reply_wrapper {
        width: 100%;
        display: flex;
    }
}

.reply__inner {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 10px;

    .reply__header {
        width: 100%;
        @extend %itemCenter;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    

    .reply__reply {
        @extend %itemCenter;
        cursor: pointer;
    
        .reply__wrapper-btn {
          width: 150px;
          align-items: center;
          justify-content: space-between;
          display: flex;
    
          .reply__delete {
              display: flex;
              align-items: center;
          }
    
          .reply__edit {
            display: flex;
            align-items: center;
        }
        }
    
        span {
          color: #5457b8;
          margin-left: 5px;
        }
    
        button {
          margin-left: 10px;
          font-size: 16px;
          font-weight: 500;
          background-color: #fff;
          height: 30px;
        }
    
        .reply__delete-btn {
          color: #ee636e;
        }
    
        .reply__edit-btn {
          color: #5457b8;
        }
      }

    .reply__user-name {
        color: #3D434D;
        font-weight: 500;
        margin: 0 20px;

        span {
            font-size: 14px;
            text-align: center;
            margin-left: 10px;
            font-weight: 400;
            padding: 0 5px;
            background-color: #5457b8;
            color: #fff;
            border-radius: 2px;
          }
    }

    .reply__user-info {
        @extend %itemCenter;

        & img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }

        .reply__user-data {
            color: #969696;
        }
        
    }

    .reply__text p{
        color: #969696;

        span {
            font-weight: 500;
            color: #5457B8;
            margin-right: 5px;
        }
    }

}